agentic-doc
alembic
chromadb
fastapi
uvicorn
langchain-text-splitters
nest-asyncio
numpy
openai
pandas
passlib
pillow
pydantic
pydantic-ai
pytest
pytest-asyncio
simpleeval
sqlalchemy
streamlit
python-jose
python-dotenv
python-docx
dotenv
google-generativeai
google-cloud-vision
pypdf
psycopg2-binary
openpyxl