pydantic
pydantic-ai-slim
python-docx
python-dotenv
pillow
pandas
openpyxl
xlsxwriter
fastapi
simpleeval
google-generativeai
agentic-doc
psycopg
SQLAlchemy
uvicorn
psycopg-binary
python-jose==3.5.0
passlib
python-multipart
pydantic-ai-slim[google]