agentic-doc
alembic
fastapi
uvicorn
nest-asyncio
numpy
pandas
passlib
pillow
pydantic
pydantic-ai-slim[google]
pytest
pytest-asyncio
simpleeval
sqlalchemy
python-jose
python-dotenv
python-docx
dotenv
psycopg2-binary
openpyxl
psycopg
psycopg_binary
python-multipart